@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Kumbh+Sans:wght,YOPQ@100..900,300&family=Momo+Signature&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Space+Grotesk:wght@300..700&family=Stack+Sans+Headline:wght@200..700&display=swap');

 @import "tailwindcss";

body{
   font-family: "Dancing Script" !important;
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #3d151e;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    180deg,
    #d4a373,
    #a6694c,
    #4a2a1a
  );
  border-radius: 10px;
  border: 2px solid #3d151e;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    180deg,
    #e6b98a,
    #b87555,
    #5a3523
  );
}


